body {
	background-color: #ededed;
	font-family: inter;
	width: 100%;
     }

nav {
	background-color: #DE1D22;
	display: flex ;
	flex-direction: row;
	justify-content: space-between;
    }

.logo {
	margin:10px ;
       }

.logo > img {
	width:40px;
	height:60px;
    }

.sectores {
         display: flex ;
	     flex-direction: row;
         align-items: center;
         margin-right: 10px;

         }
.sectores > li>a {
	color: #ededed;
	text-decoration: none;
     }

.sectores > li {
	display: inline;
	margin: 10px;
	}

.container-fluid {
	             margin:  0px;
	             padding:  0px;
                 }

.carousel-item > img {
                      height: 60%;
                      width: 60%;
                       }

h6 {
	margin: 10px;
	text-align: center;
    }

.columna1 {
	     background-color: #DE1D22;
	     padding: 1rem;
	     color: #ededed;
	     text-align: justify;
          }

.columna1 > i {
	margin-top: 1rem;
	margin-bottom: 1rem;
	align-items: center;
	justify-content: center;
	display: flex;
               }

.columna1 > h5 {
	text-align: center;
	font-weight: bold ;
                }

footer {
	background-color: #000000;
	height: 4rem;
	display: flex ;
	align-items: center;
	justify-content: space-between;
	margin:  0px;
	padding:  0px;
	        }

.tienda {
	margin: 1%;
		        }

.tienda > a > img {
	width: 12rem;
	height: 3rem;
               }

.redes {
	display: flex ;
	flex-direction: row;
	justify-content: space-between;
	width: 20%;
	margin-right: 3%;
        }

.redes > a {
	color: #ededed;
          }






